[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
peewee = "*"
selenium = "*"
psycopg = "*"
psycopg2 = "*"
psycopg2-binary = "*"
fake-useragent = "*"
tqdm = "*"

[requires]
python_version = "3.7"
